@tailwind base; 
@tailwind components; 
@tailwind utilities; 

body {
    margin: 0;
    /*display: flex;
    justify-content: center;    
    align-items: center;*/
    background: linear-gradient(45deg, rgb(35, 44, 212), rgb(203, 200, 231));
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typing-animation {
    border-right: .1em solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}
.container {
    text-align: left;
    color: rgb(114, 114, 114);
    font-family: Arial, sans-serif;
    max-width: 80%;
}

h1 {
    font-size: 4em;
    margin: 0;
}

p {
    font-size: 1.5em;
}
footer {
        font-weight: normal;
        text-align: center;
        color: white;
        border: 1px black solid;
        border-radius: 15px;
        padding: 15px;
}  

 

     