<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../../src/styles.css" title="style.css">
</head>
<body>
    <div class="container">
        <h1>RecruteCode</h1>
        <p>L'incontournable pour évaluer les compétences techniques des candidats et trouver les meilleurs talents pour vos projets IT </p>
    </div>
    <router-outlet></router-outlet>
    
</body>
<app-footer></app-footer>
</html>
