@tailwind base; 
@tailwind components; 
@tailwind utilities; 

body, html {
    @apply m-0 p-0 h-screen w-screen;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typing-animation {
    border-right: .1em solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}

.px-4 {
    padding-left: 1rem; /* Réduit la marge à gauche */
    padding-right: 1rem; /* Réduit la marge à droite */
  }
  
  .py-8 {
    padding-top: 2rem; /* Réduit l'espacement en haut */
    padding-bottom: 2rem; /* Réduit l'espacement en bas */
  }
  
  .mb-4 {
    margin-bottom: 1rem; /* Réduit la marge en bas du titre */
  }
  