@tailwind base; 
@tailwind components; 
@tailwind utilities; 

body, html {
    @apply m-0 p-0 h-screen w-screen;
}

@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

@keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
}

.typing-animation {
    border-right: .1em solid black;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 4s steps(40, end), blink-caret .75s step-end infinite;
}


  