<section>
    <div class="flex justify-center py-6">
      <h1 class="max-w-5xl text-2xl font-bold leading-none text-white md:text-5xl lg:text-6xl lg:max-w-7xl">
        Configuration des Quizz
      </h1>
    </div>
  </section> 
  
  <section>
    <div class="flex flex-col items-center py-6">
      <h2 class="text-4xl font-bold leading-none text-white">Générateur de Quizz</h2>
      <p class="mt-5 text-white text-lg">Créez des quizz pour tester vos candidats</p>
    </div>
  </section> 
  
        <div class="flex justify-center space-x-4 py-6 custom-container">
          <div class="w-full md:w-1/2 custom-container">
            <app-generatequizz></app-generatequizz>
          </div>
          <div class="w-full md:w-1/2 custom-container">
            <app-custom-quizzes></app-custom-quizzes>
            <app-results></app-results>
          </div>
        </div>
    
  
  <section>
    <div class="flex flex-col items-center py-6">
      <h2 class="text-4xl font-bold leading-none text-white">Quizz Bank</h2>
      <p class="mt-5 text-white text-lg">Gérer votre bibliothèque de questions et de réponses</p>
    </div>
  </section> 

  <div class="flex flex-col items-center py-10 max-w-7x1">
    <app-quizz-bank></app-quizz-bank>
  </div>

<!--<app-QuizzesBank></app-QuizzesBank> -->