<footer class="bg-blue-550 text-white py-4 mt-6">
  <div class="container mx-auto px-12 flex flex-col sm:flex-row justify-between items-center">
    <div class="text-center sm:text-center mb-4 sm:mb-2">
      <span>&copy; 2024 RecruteCode ROUEN .NET. All rights reserved.</span>
    </div>
    <div class="flex space-x-7 mt-6 text-sm:mb-4">
      <a href="/policy" class="text-gray-500 hover:text-gray-200">Privacy Policy</a>
      <a href="mailto:contact@recrutecode.fr" class="text-gray-500 hover:text-gray-200">Contact Us</a>
      <a href="https://github.com/IRB11/Quizz.git" class="text-gray-500 hover:text-gray-200">GitHub</a>
    </div>
  </div>
</footer>

  